[user]
	name = Ziyun Li
	email = me@ziyunli.dev
[core]
	whitespace = trailing-space,space-before-tab
	pager = delta
[push]
	default = current
[fetch]
	prune = true
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	mnemonicprefix = true
	colorMoved = zebra
# Used HTTPS because of Scala/jGit bug
# [url "git@github.com:"]
	# insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[merge]
	stat = true
[github]
	user = ziyunli
[pull]
	ff = only
	rebase = true
[branch]
	autosetupmerge = true
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = Monokai Extended
	line-numbers = true
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
